[Unit]
Description=Data

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/LIVE/data_logging.py
Restart=always
RestartSec=1s
StartLimitIntervalSec=0
StartLimitBurst=0
User=pi

[Install]
WantedBy=multi-user.target
