[Unit]
Description=Video
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/pi/LIVE/PiVideo/stream1080.bash
Restart=always
RestartSec=1s
StartLimitIntervalSec=0
StartLimitBurst=0
User=pi

[Install]
WantedBy=multi-user.target
