[Unit]
Description=Video
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/LIVE/video/stream1080.bash
Restart=always
RestartSec=1s
StartLimitBurst=0
User=pi

[Install]
WantedBy=multi-user.target
